@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
*{
    text-decoration: none;
    font-family: "Playfair+Display",sans-serif;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
}
.Logocontainer{
    display: flex;
}
.nav-bar{
    margin: 0px;
    background-color: black;
    width: 100%;
    height: 80px;
}
.nav-bar .logo a{
    font-weight: bold;
    font-size: 40px;
    color:bisque;
    padding: auto;
    display: inline;
    text-align: center;
    position: relative;
    right: 200px;
    transition-duration: 500ms;
transition-property: color;
}
.nav-bar .logo a:hover{
    color:white;
}
.Menu{
    display: flex;
    flex-direction: row;
    position: relative;
}
.Menu li{
    position: relative;
    left: 200px;
    margin-left: 100px;
}
.Menu li a{
    color: white;
font-weight: bolder;
transition-duration: 500ms;
transition-property: color;
}
.Menu li a:hover{
    color:red;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.intro{
    display:flex;
}
.my_photo_container{
height: 1000px;
background: black;
position: relative;
right: 200px;
z-index: -1;
}
.my_photo{
    position: absolute;
    right: 200px;
    left:410px;
    z-index: -1;
    border-radius: 200px;
    box-shadow: 0px 0px 30px;
}
.Intro__Title{
    font-size:180px;
    color: black;
    animation: colorchange 5000ms infinite linear alternate;
} 
@keyframes colorchange{
    0%{color:black;}
    50%{color: aqua;}
    80%{color:red;}
    100%{color: linear-gradient(red,aqua,black);}
}
footer{
    width: 100%;
    height: 200px;
    background: black;
    display: flex;
    flex-direction: row;
}
footer i{
    color:white;
    position: relative;
    margin-top: 10px;
    left: 250px;
    font-size: 30px;
font-weight: bold;
}
footer ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
footer ul li{
margin-right: 10px;
position: relative;
left: -250px;
}
.social-list__link img{
height: 100px;
position: relative;
left: 80px;
top: 80px;
margin-left: 20px;

}
@keyframes ease-out{
   from{left: 0px;}
   to{left: 80px;}
}
.Skill{
    display: flex;
     margin-left: 500px;
     background-color: black;
     width: 800px;
     height: 200px;
     border-radius:10px;
     color: white;
     font-weight: bold;
     align-items: center;
     justify-content: center;
     display: none;
    }
.Skill.show{
  display:block;
    }
.My_Skills .Skills .Skill p{
    margin-left: 20px;
    margin-top: 10px;
    color:aqua;
}
.My_Skills .Skills .Skill h3{
    color: blueviolet;
    margin-left: 20px;
}
.about_me{
    background-color: gray;
    position: relative;
    top: 5px;
    left: 400px;
    width: 500px;
    height: 200px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    transition-property: color,transform, box-shadow;
transition-duration: 800ms;
}
.about_me:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 20px;
color: white;
}
.about_me h3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    position: relative;
    top: 60px;
    font-size: 50px;
}
.about_me p{
    display: flex;
    flex-direction: row;
    justify-content: center;
margin-top: 10px;
position: relative;
top: 50px;
font-style: oblique;
}
footer input{
    display: flex;
    height: 30px;
    width: 250px;
    margin-bottom: 30px;
    position: relative;
    top: 50px;
    left: 5px;
}
footer h2{
    margin-top: 10px;
    color: wheat;
    position: absolute;
    left: 800px;
}
footer button{
    width: 100px;
    border-radius: 20px;
    height: 30px;
    font-weight: bold;
    color: white;
    background: red;
    position: relative;
    top: 40px;
border: red;
}
button:focus{
    color: red;
}